@charset "utf-8";
/* CSS Document */

/*-----------  plugin_category --------*/

#cat_plugin {
	width:860px;
	height:280px;
	margin:0 auto;}
	
.slides_area {
	width:550px;
	height:260px;
	position:relative;
	overflow:hidden;
	float:left;}
	
.slides_area img {
	position:relative;}

	
.image_area {
	background:url(../images/cat_system_plagin_img_bg.jpg) center no-repeat;
	width:290px;
	height:260px;
	float:left;
	position:relative;}
	

.numbers {
	width:23px;
	height:23px;
	line-height:23px;
	font-size:14px;
	color:white;
	cursor:pointer;
	position:absolute;
	background:url(../images/botton-plugin-pg.png) center no-repeat;}
	
#n1 {
	left:30px;
	top:190px;}

#n2 {
	left:10px;
	top:30px;}

#n3 {
	left:170px;
	top:80px;}
	
#n4 {
	left:190px;
	top:190px;}
	
#n5 {
	left:110px;
	top:130px;}
	
.num_active {
	background:url(../images/botton-plugin-pg.png) top no-repeat;}
	
.numbers:hover {
	background:url(../images/botton-plugin-pg.png) bottom no-repeat}
